/*Pagina Index*/
*{
   margin:0px ;
    padding:0px
}
body{
    /*background-position:center;*/
    text-align:center;
    background-color: rgb(255, 255, 255);
    /*margin:auto;*/
    /*width: 1000px;*/
    
   
}
  
header{
    background-color: #0b8aa1;
    text-align:left;
    height: 60px;
    padding: 15px;
    
}


h1,h2{
    text-align: center;
    color:#1a2340;
    font-family: 'Dancing Script', cursive;
    margin-top: 10px;
}

.menu #divBusca{
background-color:white;
  border:none;
  border-radius:15px;
  width:300px;
  margin-bottom: 20px;
  margin-left: 15px;
  
 
}
.menu #txtBusca{
    float:left;
    background-color:transparent;
    padding-left:5px;
    font-style:italic;
    font-size:18px;
    border:none;
    height:32px;
    width:260px;
}
 
.menu  li, a{
    display: inline;
    padding: 20px;
    text-decoration: none;
    color:#1a2340;
    padding: 5px 10px 0 0;
    font-family: 'Archivo', sans-serif;
    margin-left: 15px;
}
.menu a:hover{
    
    background-color:rgba(0,0,0,0.5);
    color:#0b8aa1;
    
}
.paris{
    width:300px;
    height: 300px; 
    margin-left: 150px;
}
.container{
    display: flex;
    flex-flow: row ;
    justify-content: center;
    align-items: center;
   
   
}
.container1{
    display: flex;
    flex-flow: row ;
    justify-content: center;
    align-items: left;
}

.txt1{
    text-align: justify;
    font-size: 18px;
    color:#1a2340;
    font-family: 'Archivo', sans-serif;
    justify-content: center;
    margin-right: 180px;
       
}
.txt2{
    text-align: justify;
    font-size: 18px;
    color:#1a2340;
    font-family: 'Archivo', sans-serif;
    justify-content: center;
    margin-right: 185px;
    margin-left: 185px;
       
}
.foto img{
    width:300px;
    height:400px;
    padding:15px
     
}

.redes img{
    width:30px;
     height:30px;
     padding:10px;
    
}
.redes img:hover{
    background-color:rgba(0,0,0,0.5);
    padding:11px;
     text-align:center;
    }

form select{
    background: none;
    border:none;
    width:100px;
    height: 30px;
    
}
form  input{
    background:none;
    border:none;
    width:200px;
    height: 30px;
}
form button{
    background: #0b8aa1;
    border:none;
    color:white;
    border-radius:0.8rem;
    width:100px;
    height: 30px;
    margin-top: 5px;
    

    
}
form label{
    color: #0b8aa1;  
 
}
footer{
    background-color: #0b8aa1;
    margin-top: 70px;
}

/*Pagina Contato*/
.titulo{
    margin-top: 45px;
    margin-bottom: 15px;
    font-family: 'Dancing Script',cursive;
    text-align: center;
}
.ml-50{
    margin-left: 150px;
}
.lupa{
    background-color:white;
    border:none;
    border-radius:15px;
}

/*Pagina lugares*/

.Paises img{
    width:400px;
    height:250px;
    padding:15px;
    border-radius: 10%;
}
.bloco{
    display: flex;
    flex-flow: row ;
    justify-content: right;
    align-items: left;
}


#sidebar {
    display:none;
    font-family: 'Archivo', sans-serif;
    color:#1a2340;
    
}
.cart:hover #sidebar {
    display: inline-flex;
  
}